#logo {
    width: 200px;
    height: 200px;
    background-image: url(../assets/holberton-logo.jpg);
    background-size: cover;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.button-container button {
    margin-right: 10px;
}

.button-container p {
    font-weight: bold;
}
